<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="HTML 5" />
    <meta name="author" content="wang" />

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--其他框架(自定义)
        <link rel="stylesheet" href="style_avatar.css"/>
        -->
    <title>活动提交页面</title>
</head>

<body>
    <div class="panel panel-success">
        <style>
            .panel.panel-success {
                height: 30%;
                width: 60%;
                position: absolute;
                top: 65%;
                left: 20%;
            }
        </style>
        <div class="panel-heading">
            <h3 class="panel-title">上传文件</h3>
        </div>
        <div class="panel-body">
            <form action="{{ url_for('image.profile_image_upload') }}" method="POST" enctype="multipart/form-data">
                <input type="file" name="image" id="image" accept="image/*" >
                <button>Upload</button>
                <p class="message"></p>
            </form>
        </div>
    </div>

</body>

</html>