
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="HTML 5" />
        <meta name="author" content="wang" />

        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--其他框架(自定义)
        <link rel="stylesheet" href="style_avatar.css"/>
        -->
        <title>活动提交页面</title>
    </head>
    <body>
    
    <div class="panel panel-primary">
        <style>
            .panel.panel-primary{
                height:60%;
                width:60%;
                position: absolute;
                top: 5%;
                left: 20%;
            }
        </style>
        <div class="panel-heading">
            <h3 class="panel-title">活动信息</h3>
        </div>
        <div class="panel-body">
            <div id="assignment_show" class="assignment">
                <!--Student View-->
                <ul class="student-assignment-overview">
                  <li>
                    <span class="title">截止时间</span>
                    <span class="value">
                      <span class="date_text">
                        <span class="display_date">12月10日</span>，
                        <span class="display_time">23:59</span> 之前
                      </span>
                    </span>
                  </li>
                  <li>
                    <span class="title">状态</span>
                    <span class="value">已提交</span>
                  </li>
                  <li>
                    <span class="title">提交要求</span>
                    <span class="value">文件（包含......）</span>
                  </li>
                </ul>
              <div class="description">
                <p>1）description</p>
                <p>2）description</p>
              </div>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <style>
            .panel.panel-success{
                height:30%;
                width:60%;
                position: absolute;
                top: 65%;
                left: 20%;
            }
        </style>
        <div class="panel-heading">
            <h3 class="panel-title">上传文件</h3>
        </div>
        <div class="panel-body">
            <form id="submit_online_upload_form" class="submit_assignment_form" enctype="multipart/form-data" action="..." >
                <table class="formtable" style="width: 100%;">
                <tbody>
                    <tr>
                        <td>
                            <div class="submission_attachment" style="display: block;">
                                <input aria-labelledby="attachmentLabel" type="file" name="attachments[0][uploaded_data]" class="input-file">
                            </div>
                            <div id="submission_attachment_blank" class="submission_attachment" style="display: none;">
                                <input aria-labelledby="attachmentLabel" type="file" name="attachments[-1][uploaded_data]" class="input-file">
                            </div>
                        </td>
                        <td style="font-size: 0.8em;">
                            <button class="Button Button--link">查看文件</button><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea class="submission_comment_textarea" placeholder="反馈..." title="反馈" name="submission[comment]" id="submission_comment"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="button-container">
                            <button type="button" class="cancel_button btn">取消</button>
                            <button type="submit" class="btn btn-primary" id="submit_file_button">提交</button>
                        </td>
                    </tr>
                </tbody>
            </form>
        </div>
    </div>
    
    </body>
    </html>