<!---------------------------------
Name: userInformation.html
Function: 学生信息展示
Author: wang
Ps: Jinja2模板网站，以base.html为基础
----------------------------------->

{% extends 'teacher/base.html' %}

{% block title %}Information{% endblock title %}
{% block active_item %}Public Activity{% endblock active_item %}

<!--主体内容部分的替换-->
{% block content %}



<div class="avatar">
  <!--用户头像-->
  <img src="picture/predefined_avatar.png" alt="..." class="rounded-circle">
  <style>
    .avatar img{
      position: absolute;
      width: 20%;
      height: 40%;
      left: 25%;
      top: 40%;
      background-color: #000;
      overflow: auto;
      border-radius: 10px
    }
  </style>
</div>

<div class="btn-local-update">
  <!--头像上传按钮-->
  <button type="button" class="btn-update btn-sm active">update</button>
  <style>
  .btn-local-update .btn-update{
    position: absolute;
    left: 40%;
    top: 70%;
    color: white;
    background-color: black;
    width: 6%;
    height: 6%;
    font-size: 15px;
    cursor: pointer;
    transition: .5s;
  }
  </style>
</div>

<table class="table-user-information">
  <!--学生信息表-->
  <style>
    .table-user-information{
      position: absolute;
      width: 40%;
      height: 40%;
      top: 40%;
      right: 5px;
      color: black;
      font-size:20px;
    }
  </style>
  <tbody>
  <tr>
    <td>username</td>
    <td>...</td>
  </tr>
  <tr>
    <td>number</td>
    <td>...</td>
  </tr>
  <tr>
    <td>gender</td>
    <td>...</td>
  </tr>
  <tr>
    <td>major</td>
    <td>...</td>
  </tr>
  <tr>
    <td>class</td>
    <td>...</td>
  </tr>
  </tbody>
</table>
    

<div class="footer-wrap footer-wrap2 pd-20 mb-20 card-box"><a href="https://www.tongji.edu.cn" target="_blank">
    Toongji University</a> Computer Science fifth Group</a>
</div>
<style>
  * .footer-wrap2{
      position: absolute;
      top: 85%;
    }
</style>



{% endblock content %}