{% extends 'Base.html' %}

{% block title %}
  Activities
{% endblock title %}

{% block content %}
  <div class="wrapper row3">
    <div class="rnd">
      <div id="container" class="clear">
        <!-- ####################################################################################################### -->
        <h1>{{activity.name}}</h1>
        <p>{{activity.description}}</p>
        {% if operation == 'Apply' %}
        <a href="{{'../apply/' ~ act.id}}">Apply</a>
        {% elif operation == 'Abort' %}
        <a href="{{'../abort/' ~ act.id}}">Abort</a>
        {% elif operation == 'Delete' %}
        <a href="{{'../complete/' ~ act.id}}">Complete</a>
        <br>
        <br>
        <a href="{{'../delete/' ~ act.id}}">Delete</a>
        <br>
        <br>
        <a href="{{'../revise/' ~ act.id}}">Revise</a>
        {% else %}
<!--        do nothing-->
        {% endif %}
        <img class="imgr" src="{{'.' ~ activity.cover_image_path ~ activity.cover_image_name}}" alt="" width="125" height="125" />
        <!-- ####################################################################################################### -->
      </div>
    </div>
  </div>
{% endblock content %}