{% extends 'Base.html' %}

{% block title %}
  Activities
{% endblock title %}

{% block content %}
  <div class="wrapper row3">
    <div class="rnd">
      <div id="container" class="clear">
        <!-- ####################################################################################################### -->
        <h1>{{activity.name}}</h1>
        <p>{{activity.description}}</p>
        <img class="imgr" src="{{activity.cover_image_path}}" alt="" width="125" height="125" />
        </ol>
        <!-- ####################################################################################################### -->
      </div>
    </div>
  </div>
{% endblock content %}