{% extends 'Base.html' %}

<!-- 这是一个用 jinja2 从Base.html渲染得到的实例 需要启动 flask 环境后才能看到-->
<!-- 这样可以避免一项修改多处寻找 -->

{% block title %}
    Body
{% endblock title %}

{% block content %}
<div id="portfolio">
    <ul>
        {% for activity in item %}
        <li class="{{ loop.index0 | set_last_class_filter }}"><img src="{{activity.cover_image_path}}" alt="" />
            <h2>{{activity.name}}</h2>
            <p>{{activity.description}}</p>
            <p class="readmore"><a href="{{'../' ~ activity.id}}">Read More Here &raquo;</a></p>
        </li>
        {% else %}
        <!--如果没有该类活动，显示此处内容-->
        <h2>No Activity.</h2>
        {% endfor %}
    </ul>
</div>
{% endblock content %}