{% extends 'Base.html' %}

<!-- 这是一个用 jinja2 从Base.html渲染得到的实例 需要启动 flask 环境后才能看到-->
<!-- 这样可以避免一项修改多处寻找 -->

{% block title %}
    Body
{% endblock title %}

{% block content %}
<div id="portfolio">
    <ul>
        <li><img src="../static/img/demo/420x190.gif" alt="" />
            <h2>Metridiculis conseque quis</h2>
            <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et
                iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
            <p class="readmore"><a href="#">Read More Here &raquo;</a></p>
        </li>
        <li class="last"><img src="../static/img/demo/420x190.gif" alt="" />
            <h2>Metridiculis conseque quis</h2>
            <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et
                iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
            <p class="readmore"><a href="#">Read More Here &raquo;</a></p>
        </li>
        <li><img src="../static/img/demo/420x190.gif" alt="" />
            <h2>Metridiculis conseque quis</h2>
            <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et
                iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
            <p class="readmore"><a href="#">Read More Here &raquo;</a></p>
        </li>
        <li class="last"><img src="../static/img/demo/420x190.gif" alt="" />
            <h2>Metridiculis conseque quis</h2>
            <p>Orciinterdum condimenterdum nullamcorper elit nam curabitur laoreet met praesenean et
                iaculum. Metridiculis conseque quis iaculum aenean nunc aenean quis nam nis dui.</p>
            <p class="readmore"><a href="#">Read More Here &raquo;</a></p>
        </li>
    </ul>
</div>
{% endblock content %}