<!DOCTYPE html>
<html>
<head>
  <title>Second Classroom</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="imagetoolbar" content="no" />
  <link rel="stylesheet" href="../static/css/layout.css" type="text/css" />

  <!-- Homepage Specific Elements -->
  <script type="text/javascript" src="../static/js/jquery/jquery-1.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/jquery/jquery-ui-1.7.2.custom.min.js"></script>
  <script type="text/javascript" src="../static/js/jquery/jquery.tabs.setup.js"></script>
  <!-- End Homepage Specific Elements -->
</head>

<body id="top">
  <div class="wrapper row1">
    <div id="header" class="clear">
      <div class="fl_left">
        <h1><a href="index.html">Second Classroom</a></h1>
        <p>College of Electronics and Information Engineering</p>
      </div>
      <!--以下几个部分关于右上角，除Home外其他待修改-->
      <div class="fl_right">
        <ul>
          <li><a href={{url_for("home")}}>Home</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">A - Z Index</a></li>
          <li><a href={{url_for("auth.login")}}>Student Login</a></li>
          <li class="last"><a href="#">Staff Login</a></li>
        </ul>
        <form action="#" method="post" id="sitesearch">
          <fieldset>
            <strong>Search:</strong>
            <input type="text" value="Search Our Website&hellip;"
              onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
            <input type="image" src="../static/img/search.gif" id="search" alt="Search" />
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <!--以上部分为网页上端部分，各个网页关于上端部分应该相同，故修改上面部分仍何地方后要在wisdom,body等html文件中同步修改-->
  <!--五育页面格式相同，彼此也要同步修改-->
  <!-- ####################################################################################################### -->
  <!--以下为导航栏,导航栏遇到的问题是文字过于居中，应该令其两侧对齐，css文件在navi.css里topnav处-->
  <div class="wrapper row2">
    <div class="rnd">
      <!-- ###### -->
      <div id="topnav">
        <ul>

          <li><a href={{url_for('home')}}>Home</a></li>
          <li><a href={{url_for('module.virtue')}}>Morality Activity</a></li>
          <li><a href={{url_for('module.wisdom')}}>Wisdom Activity</a></li>
          <li><a href={{url_for('module.body_act')}}>Sports Activity</a></li>
          <li><a href={{url_for('module.beauty')}}>Arts Activity</a></li>
          <li><a href={{url_for('module.labor')}}>Labor Activity</a></li>
          <li class="last"><a href={{url_for('space.personal_page')}}>User Page</a></li>
          <!--个人建议将首页放在这里，但也有人提议放在其他地方-->
        </ul>
      </div>
      <!-- ###### -->
    </div>
  </div>
  <!-- ####################################################################################################### -->
  <div class="wrapper">
    <div id="featured_slide" class="clear">
      <!-- ###### -->
      <!--此处为上方图片右侧文字框，方案介绍待修改-->
      <!--注意，图片尺寸为950px * 250px,如果图片不是这个尺寸，拉伸后会变得很奇怪-->
      <!--此处为‘德’方案介绍-->
      <div class="overlay_left"></div>
      <div id="featured_content">
        <div class="featured_box" id="fc1"><img src="../static/img/1.jpg" alt="" />
          <div class="floater">
            <h2>Nullamlacus dui ipsum</h2>
            <p>Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et
              ac vest penatibus id lacus parturpis.</p>
            <p class="readmore"><a href="Virtue.html">Continue Reading &raquo;</a></p>
          </div>
        </div>
        <!--此处为‘智’方案介绍-->
        <div class="featured_box" id="fc2"><img src="../static/img/2.jpg" alt="" />
          <div class="floater">
            <h2>Aliquatjusto quisque nam</h2>
            <p>Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et
              ac vest penatibus id lacus parturpis.</p>
            <p class="readmore"><a href="Wisdom.html">Continue Reading &raquo;</a></p>
          </div>
        </div>
        <!--此处为‘体’方案介绍-->
        <div class="featured_box" id="fc3"><img src="../static/img/3.jpg" alt="" />
          <div class="floater">
            <h2>Aliquatjusto quisque nam</h2>
            <p>Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et
              ac vest penatibus id lacus parturpis.</p>
            <p class="readmore"><a href="Body.html">Continue Reading &raquo;</a></p>
          </div>
        </div>
        <!--此处为‘美’方案介绍-->
        <div class="featured_box" id="fc4"><img src="../static/img/4.jpg" alt="" />
          <div class="floater">
            <h2>Aliquatjusto quisque nam</h2>
            <p>Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et
              ac vest penatibus id lacus parturpis.</p>
            <p class="readmore"><a href="Beauty.html">Continue Reading &raquo;</a></p>
          </div>
        </div>
        <!--此处为‘劳’方案介绍-->
        <div class="featured_box" id="fc5"><img src="../static/img/5.jpg" alt="" />
          <div class="floater">
            <h2>Dapiensociis temper donec</h2>
            <p>Attincidunt vel nam a maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et
              ac vest penatibus id lacus parturpis.</p>
            <p class="readmore"><a href="Labor.html">Continue Reading &raquo;</a></p>
          </div>
        </div>
      </div>
      <!--此处为上方图片选择框的文字介绍部分，有文采的可以更改‘All About The...’的描述，但要超过四个单词-->
      <ul id="featured_tabs">
        <li><a href="#fc1">All About The Virtue Activity</a></li>
        <li><a href="#fc2">All About The Wisdom Activity</a></li>
        <li><a href="#fc3">All About The Body Activity</a></li>
        <li><a href="#fc4">All About The Beauty Activity</a></li>
        <li class="last"><a href="#fc5">All About The Labor Activity</a></li>
      </ul>
      <div class="overlay_right"></div>
      <!-- ###### -->
    </div>
  </div>
  <!-- ####################################################################################################### -->
  <div class="wrapper row3">
    <div class="rnd">
      <div id="container" class="clear">
        <!-- ####################################################################################################### -->
        <!--这里是首页的介绍页面，建议从后端数据库提取活动放上来替换即可-->
        <div id="homepage" class="clear">
          <!-- ###### -->
          <div id="left_column">
            <h2>Prospective Students</h2>
            <div class="imgholder"><a href="#"><img src="../static/img/6.jpg" alt="" /></a></div>
            <h2>Current Students</h2>
            <div class="imgholder"><a href="#"><img src="../static/img/7.jpg" alt="" /></a></div>
            <h2>International Students</h2>
            <div class="imgholder"><a href="#"><img src="../static/img/8.jpg" alt="" /></a></div>
            <h2>Alumni</h2>
            <div class="imgholder"><a href="#"><img src="../static/img/9.jpg" alt="" /></a></div>
          </div>
          <!-- ###### -->
          <div id="latestnews">
            <h2>Recommended Events</h2>
            <ul>
              {% if item1 %}
              <li class="clear">
                <div class="imgl"><img src="{{item1.cover_image_path ~ item1.cover_image_name}}" alt="" width="125" height="125"/></div>
                <div class="latestnews">
                  <p><a href="{{'../' ~ item1.id}}">{{item1.name}} &raquo;</a></p>
                  <p>{{item1.description}}</p>
                </div>
              </li>
              {% else %}
              <li class="clear">
                <div class="imgl"><img src="../static/img/10.jpg" alt="" /></div>
                <div class="latestnews">
                  <p><a href="#">Sentumquisque morbi dui congue.</a></p>
                  <p>This is a W3C compliant free website template from <a href="http://www.freemoban.com/"
                      title="免费模板网">网站模板</a>. This template is distributed using a <a href="#">Website Template
                      Licence</a></p>
                </div>
              </li>
              {% endif %}
              {% if item2 %}
              <li class="clear">
                <div class="imgl"><img src="{{item2.cover_image_path ~ item2.cover_image_name}}" alt="" width="125" height="125"/></div>
                <div class="latestnews">
                  <p><a href="{{'../' ~ item2.id}}">{{item2.name}} &raquo;</a></p>
                  <p>{{item2.description}}</p>
                </div>
              </li>
              {% else %}
              <li class="clear">
                <div class="imgl"><img src="../static/img/11.jpg" alt="" /></div>
                <div class="latestnews">
                  <p><a href="#">Sentumquisque morbi dui congue.</a></p>
                  <p>You can use and modify the template for both personal and commercial use. You must keep all
                    copyright information and credit links in the template and associated files.</p>
                </div>
              </li>
              {% endif %}
              {% if item3 %}
              <li class="clear">
                <div class="imgl"><img src="{{item3.cover_image_path ~ item3.cover_image_name}}" alt="" width="125" height="125"/></div>
                <div class="latestnews">
                  <p><a href="{{'../' ~ item3.id}}">{{item3.name}} &raquo;</a></p>
                  <p>{{item3.description}}</p>
                </div>
              </li>
              {% else %}
              <li class="last clear">
                <div class="imgl"><img src="../static/img/12.jpg" alt="" /></div>
                <div class="latestnews">
                  <p><a href="#">Sentumquisque morbi dui congue.</a></p>
                  <p> For more CSS templates visit <a href="#">Free Website Templates</a>. Attincidunt vel nam a
                    maurisus lacinia consectetus magnisl sed ac morbi. Inmaurisus habitur pretium eu et ac vest
                    penatibus id lacus parturpis.</p>
                </div>
              </li>
              {% endif %}
            </ul>
            <!--，祝你开心每一天！(bushi)-->
            <p class="readmore">May you be happy every day!</a></p>
          </div>
          <!-- ###### -->
          <div id="right_column">
            <div class="holder">
              <h2>Virtual Tour</h2>
              <a href="#"><img src="../static/img/video.gif" alt="" /></a>
            </div>
            <div class="holder">
              <h2>Quick Information</h2>
              <div class="apply"><a href="#"><img src="../static/img/13.jpg" alt="" /> <strong>Make An
                    Application</strong></a>
              </div>
              <div class="apply"><a href="#"><img src="../static/img/14.jpg" alt="" /> <strong>Order A
                    Prospectus</strong></a>
              </div>
            </div>
          </div>
          <!-- ###### -->
        </div>
        <!-- ####################################################################################################### -->
        <div id="twitter" class="clear">
          <!--homepage.css 中twitter.fl_left中有twitter的logo，我注释掉了，有能者可以替换成同色背景，相同大小的同济logo-->
          <div class="fl_left"><a href="https://see.tongji.edu.cn/">Follow Us On CEIE</a></div>
          <div class="fl_right">
            我仰望星空，
            它是那样壮丽而光辉；<br>
            那永恒的炽热，
            让我心中燃起希望的烈焰、响起春雷。
          </div>
        </div>
        <!-- ####################################################################################################### -->
      </div>
    </div>
  </div>
  <!-- ####################################################################################################### -->
  <div class="wrapper row4">
    <div class="rnd">
      <div id="footer" class="clear">
        <!-- ####################################################################################################### -->
        <div class="fl_left clear">
          <!--高德地图链接-->
          <div class="fl_left center"><img src="../static/img/demo/worldmap.gif" alt="" /><br />
            <a
              href="https://www.amap.com/search?id=B00155HU50&city=310114&geoobj=121.447275%7C31.268923%7C121.458199%7C31.274481&query_type=IDQ&query=%E5%90%8C%E6%B5%8E%E5%A4%A7%E5%AD%A6%E5%98%89%E5%AE%9A%E6%A0%A1%E5%8C%BA&zoom=17.5">
              Find Us With AMap &raquo;</a>
          </div>
          <address>
            Address Line 1: Tongji University<br />
            Address Line 2: 4800, Cao'an Road, Huangdu Town, Jiading District<br />
            City: Shanghai City<br />
            Postcode: 200000<br />
            <br />
            Tel: (021)69589979<br />
            Email: <a href="mailto:dxwg@tongji.edu.cn">dxwg@tongji.edu.cn</a>
          </address>
        </div>
        <!-- ####################################################################################################### -->
      </div>
    </div>
  </div>
  <!-- ####################################################################################################### -->
  </div>
</body>

</html>