<!DOCTYPE html>
<html>

<head>
  <title>Second Classroom</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="imagetoolbar" content="no" />
  <link rel="stylesheet" href="../static/css/layout.css" type="text/css" />

  <!-- Homepage Specific Elements -->
  <script type="text/javascript" src="../static/js/jquery/jquery-1.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/jquery/jquery-ui-1.7.2.custom.min.js"></script>
  <script type="text/javascript" src="../static/js/jquery/jquery.tabs.setup.js"></script>
  <!-- End Homepage Specific Elements -->
</head>

<body id="top">
  <div class="wrapper row1">
    <div id="header" class="clear">
      <div class="fl_left">
        <h1><a href="index.html">Second Classroom</a></h1>
        <p>College of Electronics and Information Engineering</p>
      </div>
      <!--以下几个部分关于右上角，除Home外其他待修改-->
      <div class="fl_right">
        <ul>
          <li><a href={{url_for('home')}}>Home</a></li>
					{% if g.userid %}
					<li class="last">{{g.userid}}</li>
					<li class="last"><a href={{url_for('auth.logout')}}>Logout Here</a></li>
		  
					{% else %}
					<li class="last"><a href={{url_for('auth.login')}}>Login Here</a></li>
					{%endif%}
        </ul>
        <form action="#" method="post" id="sitesearch">
          <fieldset>
            <strong>Search:</strong>
            <input type="text" value="Search Our Website&hellip;"
              onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
            <input type="image" src="../static/img/search.gif" id="search" alt="Search" />
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <!--以上部分为网页上端部分，各个网页关于上端部分应该相同，故修改上面部分仍何地方后要在wisdom,body等html文件中同步修改-->
  <!--五育页面格式相同，彼此也要同步修改-->
  <!-- ####################################################################################################### -->
  <!--以下为导航栏,导航栏遇到的问题是文字过于居中，应该令其两侧对齐，css文件在navi.css里topnav处-->
  <div class="wrapper row2">
    <div class="rnd">
      <!-- ###### -->
      <div id="topnav">
        <ul>
          <li><a href={{url_for('home')}}>Home</a></li>
          <li><a href={{url_for('module.virtue')}}>Morality Activity</a></li>
          <li><a href={{url_for('module.wisdom')}}>Wisdom Activity</a></li>
          <li><a href={{url_for('module.body_act')}}>Sports Activity</a></li>
          <li><a href={{url_for('module.beauty')}}>Arts Activity</a></li>
          <li><a href={{url_for('module.labor')}}>Labor Activity</a></li>
          <li class="last"><a href={{url_for('space.personal_page')}}>User Page</a></li>
          <!--个人建议将首页放在这里，但也有人提议放在其他地方-->
        </ul>
      </div>
      <!-- ###### -->
    </div>
  </div>
  <!-- ####################################################################################################### -->
  <div class="wrapper">
    <div id="featured_slide" class="clear">
      <!-- ###### -->
      <!--此处为上方图片右侧文字框，方案介绍待修改-->
      <!--注意，图片尺寸为950px * 250px,如果图片不是这个尺寸，拉伸后会变得很奇怪-->
      <!--此处为‘德’方案介绍-->
      <div class="overlay_left"></div>
      <div id="featured_content">
        <div class="featured_box" id="fc1"><img src="../static/img/1.jpg" alt="" />
          <div class="floater">
            <h2>理想信念与价值观</h2>
            <p>树立新时代青年人正确的人生观、价值观和世界观，有理想、有信仰。
              明大德、守公德、立志报效祖国、服务人民、实现人生抱负，努力践行社会主义核心价值观。
            </p>
            <p class="readmore"><a href="{{url_for('module.virtue')}}">Continue Reading &raquo;</a></p>
          </div>
        </div>
        <!--此处为‘智’方案介绍-->
        <div class="featured_box" id="fc2"><img src="../static/img/2.jpg" alt="" />
          <div class="floater">
            <h2>文化素养与能力提升</h2>
            <p>选择性地研读古今中外的经典，养成爱读书、善读书的习惯；
              培养谋求创新的意识和愿望，锻造实施创新的胆略和气魄；
              知晓自我的专业兴趣和方向，努力提高学习能力、实践能力。
            </p>
            <br>
            <p class="readmore"><a href="{{url_for('module.wisdom')}}">Continue Reading &raquo;</a></p>
          </div>
        </div>
        <!--此处为‘体’方案介绍-->
        <div class="featured_box" id="fc3"><img src="../static/img/3.jpg" alt="" />
          <div class="floater">
            <h2>强身健体与意志培养</h2>
            <p>学会合理自我认识，做到悦纳自己、情绪稳定、人际和谐、社会适应良好、培养乐观的心态和健全的人格、焕发青春美丽。树立健康的简直观念，主动参加体育锻炼，强健体魄、锤炼意志。</p>
            <br>
            <p class="readmore"><a href="{{url_for('module.body_act')}}">Continue Reading &raquo;</a></p>
          </div>
        </div>
        <!--此处为‘美’方案介绍-->
        <div class="featured_box" id="fc4"><img src="../static/img/4.jpg" alt="" />
          <div class="floater">
            <h2>艺术鉴赏与审美实践</h2>
            <p>树立正确而高尚的审美观，培养感知美、鉴赏美、创造美的审美能力，提升审美素养；以美辅德，以美启智，以美益体，以美助劳，陶冶道德情操，提升精神境界，完善人格塑造。</p>
            <br>
            <p class="readmore"><a href="{{url_for('module.beauty')}}">Continue Reading &raquo;</a></p>
          </div>
        </div>
        <!--此处为‘劳’方案介绍-->
        <div class="featured_box" id="fc5"><img src="../static/img/5.jpg" alt="" />
          <div class="floater">
            <h2>劳动实践与志愿服务</h2>
            <p>领悟劳动教育的新内涵，树立正确的劳动观，培养“淡泊名利，甘于奉献”的劳动平哥，进而提高劳动意愿、深化劳动情感、尊重劳动、劳动者和劳动果实，诚信劳动。</p>
            <br>
            <p class="readmore"><a href="{{url_for('module.labor')}}">Continue Reading &raquo;</a></p>
          </div>
        </div>
      </div>
      <!--此处为上方图片选择框的文字介绍部分，有文采的可以更改‘All About The...’的描述，但要超过四个单词-->
      <ul id="featured_tabs">
        <li><a href="#fc1">All About The Morality Activity</a></li>
        <li><a href="#fc2">All About The Wisdom Activity</a></li>
        <li><a href="#fc3">All About The Sports Activity</a></li>
        <li><a href="#fc4">All About The Arts Activity</a></li>
        <li class="last"><a href="#fc5">All About The Labor Activity</a></li>
      </ul>
      <div class="overlay_right"></div>
      <!-- ###### -->
    </div>
  </div>
  <!-- ####################################################################################################### -->
  <div class="wrapper row3">
    <div class="rnd">
      <div id="container" class="clear">
        <!-- ####################################################################################################### -->
        <!--这里是首页的介绍页面，建议从后端数据库提取活动放上来替换即可-->
        <div id="homepage" class="clear">
          <!-- ###### -->
          <div id="left_column">
            <h2>Activities</h2>
            <div class="imgholder"><img src="../static/img/001.jpg" alt="" width="220" height="90" /></a>
            </div>
            <!-- <h2>Current Students</h2> -->
            <div class="imgholder"> <img src="../static/img/002.jpg" alt="" width="220" height="90" /></a></div>
            <!-- <h2>Professors</h2> -->
            <div class="imgholder"> <img src="../static/img/003.jpg" alt="" width="220" height="90"/></a></div>
          </div>
          <!-- ###### -->
          <div id="latestnews">
            <h2>Recommended Events</h2>
            <ul>
              {% if item1 %}
              <li class="clear">
                <div class="imgl"><img src="{{item1.cover_image_path ~ item1.cover_image_name}}" alt="" width="125" height="125"/></div>
                <div class="latestnews">
                  <p><a href="{{'../' ~ item1.id}}">{{item1.name}} &raquo;</a></p>
                  <p>{{item1.description}}</p>
                </div>
              </li>
              {% else %}
              {% endif %}
              {% if item2 %}
              <li class="clear">
                <div class="imgl"><img src="{{item2.cover_image_path ~ item2.cover_image_name}}" alt="" width="125" height="125"/></div>
                <div class="latestnews">
                  <p><a href="{{'../' ~ item2.id}}">{{item2.name}} &raquo;</a></p>
                  <p>{{item2.description}}</p>
                </div>
              </li>
              {% else %}
              {% endif %}
              {% if item3 %}
              <li class="clear">
                <div class="imgl"><img src="{{item3.cover_image_path ~ item3.cover_image_name}}" alt="" width="125" height="125"/></div>
                <div class="latestnews">
                  <p><a href="{{'../' ~ item3.id}}">{{item3.name}} &raquo;</a></p>
                  <p>{{item3.description}}</p>
                </div>
              </li>
              {% else %}
              {% endif %}
            </ul>
            <!--，祝你开心每一天！(bushi)-->
            <p class="readmore">May you be happy every day!</a></p>
          </div>
          <!-- ###### -->
          <div id="right_column">
            <div class="holder">
              <h2>Activities</h2>
              <div class="imgholder"> <img src="../static/img/004.jpg" alt="" width="220" height="90"/></a></div>
              <div class="imgholder"> <img src="../static/img/005.jpg" alt="" width="220" height="90"/></a></div>
              <div class="imgholder"> <img src="../static/img/006.jpg" alt="" width="220" height="90"/></a></div>
            </div>
            <div class="holder">
              <h2>Quick Information</h2>
              <div class="apply"><a href={{url_for('auth.login')}}><img src="../static/img/13.jpg" alt="" />
                  <strong>Make A Quick
                    Login</strong></a>
              </div>
            </div>
          </div>
          <!-- ###### -->
        </div>
        <!-- ####################################################################################################### -->
        <div id="twitter" class="clear">
          <!--homepage.css 中twitter.fl_left中有twitter的logo，我注释掉了，有能者可以替换成同色背景，相同大小的同济logo-->
          <div class="fl_left"><a href="https://see.tongji.edu.cn/">Follow Us On CEIE</a></div>
          <div class="fl_right">
            我仰望星空，
            它是那样壮丽而光辉；<br>
            那永恒的炽热，
            让我心中燃起希望的烈焰、响起春雷。
          </div>
        </div>
        <!-- ####################################################################################################### -->
      </div>
    </div>
  </div>
  <!-- ####################################################################################################### -->
  <div class="wrapper row4">
    <div class="rnd">
      <div id="footer" class="clear">
        <!-- ####################################################################################################### -->
        <div class="fl_left clear">
          <!--高德地图链接-->
          <div class="fl_left center"><img src="../static/img/demo/worldmap.gif" alt="" /><br />
            <a
              href="https://www.amap.com/search?id=B00155HU50&city=310114&geoobj=121.447275%7C31.268923%7C121.458199%7C31.274481&query_type=IDQ&query=%E5%90%8C%E6%B5%8E%E5%A4%A7%E5%AD%A6%E5%98%89%E5%AE%9A%E6%A0%A1%E5%8C%BA&zoom=17.5">
              Find Us With AMap &raquo;</a>
          </div>
          <address>
            Address Line 1: Tongji University<br />
            Address Line 2: 4800, Cao'an Road, Huangdu Town, Jiading District<br />
            City: Shanghai City<br />
            Postcode: 200000<br />
            <br />
            Tel: (021)69589979<br />
            Email: <a href="mailto:dxwg@tongji.edu.cn">dxwg@tongji.edu.cn</a>
          </address>
        </div>
        <!-- ####################################################################################################### -->
      </div>
    </div>
  </div>
  <!-- ####################################################################################################### -->
  </div>
</body>

</html>