<!-----------------------
Name: login.html
Function: 用户登录界面
Author: king
Status: continue
------------------------>

<!DOCTYPE HTML>
<html lang="en">
<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/login_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<script src="../static/js/SakuraFall.js"></script>

<body class="body">

    <div class="login-page">
        <div class="form">

            <form action="{{ url_for('auth.login') }}" method="POST">
                <lottie-player src="../static/json/login.json" background="transparent" speed="1"
                    style="justify-content: center;" loop autoplay></lottie-player>
                    {{text}}        <!--此处为信息反馈，比如错误信息反馈-->
                <input type="text" placeholder="&#xf007;  username" name="userid" oninput="value=value.replace(/[^\d]/g,'')"
                    maxlength="8" />
                <input type="password" placeholder="&#xf023;  password" name="password" maxlength="30" />
                <button>LOGIN</button>
                <p class="message"></p>
            </form>

            <form class="login-form">
                <button type="button" onclick="window.location.href='signup.html'">SIGN UP</button>
            </form>
        </div>
    </div>

</body>

</html>