<!-----------------------------
Name: signup
Function: 网站的用户注册界面
Author: king
------------------------------>
<!DOCTYPE HTML>
<html lang="en" >
<html>
<head>
  <title>Sign Up</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../static/css/signup_style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>  
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<script src="../static/js/SakuraFall.js"></script>

<body class="body">
  
<div class="login-page">
  <div class="form">
    <form action="{{ url_for('auth.regist') }}" method="POST">
      <lottie-player src="../static/json/signup.json"  background="transparent"  speed="1"  style="justify-content: center;" loop  autoplay></lottie-player>
      {{text}}
      <input type="text" placeholder="username" name="userid" oninput="value=value.replace(/[^\d]/g,'')" maxlength="8"/>
      <!--input type="text" placeholder="email address"/>
      <input type="text" placeholder="pick a username"/-->
      <input type="password" placeholder="password" name="password" maxlength="30"/>
      <input type="password" placeholder="password again" name="password2" maxlength="30"/>

      <select name="identity" type="password" class="selected">
          <option value="student" selected>student</option>
          <option value="teacher">teacher</option>
      </select>
      <br><br>
      <button>SIGN UP</button>
      <p class="message"></p>
      
    </form>

    <form class="login-form">
      
    </form>
  </div>
</div>

</body>
</html>